/*CSS*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 425px) {
  .text {
    padding: 0 1rem;
    width: 100%;
  }
}


#img-bg {
  background-image: url("images/foto\ opaca.jpeg");
  min-height: 1000px;
  background-position: top;
  background-size: contain;
}

.opacity1 {
  opacity: 0.9;
}
.opacity {
  opacity: 0.2;
}
@media only screen and (max-width: 764px) {
  .resp {
    width: 100%;
  }
}


.img {
  width: 420px;
  height: 600px;
}

.animacao-presente {
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: mymove 1.2s infinite;
}

@keyframes mymove {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
